# ============================
# BACKEND (Node + TypeScript)
# ============================

backend/node_modules/
backend/dist/
backend/.env
backend/serviceAccountKey.json

# Logs
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# ============================
# FRONTEND (Flutter)
# ============================

frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata

# Android & iOS build files
frontend/ios/Flutter/App.framework
frontend/ios/Flutter/engine/
frontend/ios/ServiceDefinitions.json
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# ============================
# ADMIN DASHBOARD (Vite)
# ============================
admin-dashboard/node_modules/
admin-dashboard/dist/
admin-dashboard/.env

# SYSTEM FILES
.DS_Store
Thumbs.db