PORT=4000
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# SMTP Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=amira.hajboubakerrais@gmail.com
SMTP_PASS=ceuo tpbg odzk xqtt