PORT=4000
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# SMTP Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=amira.hajboubakerrais@gmail.com
SMTP_PASS=your_smtp_password

# Edamam API Configuration (Food Image Recognition)
EDAMAM_APP_ID=your_edamam_app_id
EDAMAM_APP_KEY=your_edamam_app_key

GEMINI_API_KEY=AIzaSyC0XYQyYL0AcZPCZAbpmx55G8QUGedIsVg